
:root {
  --bg: #ffffff;
  --text: #111111;
}

[data-theme="dark"] {
  --bg: rgb(69, 69, 69) ;
  --text: #eeeeee;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

[data-theme="dark"] #theme-button {
  background-color: rgb(69, 69, 69) !important;
  color: var(--btn-text) !important;
}

.page-wrapper {
  margin: 1rem;
}

.nav-icon {
  width: 40px;
  height: 40px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0 0.25rem;

  background: transparent;
  border: none;

  color: white !important;
}

.nav-icon a {
  color: white;
}