name: scrape-build
run-name: "${{ github.actor }}'s daily build"
on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm install -g bats
      - run: bats -v
      - run: node scripts/scrape.js
      - run: npm run build
